<%- await render("include/menu.ejs") %>

<% var post = await fetchPost(currentRoute().split("/")[2]) %>
<% var tags = post.category.split(",").map(_ => _.trim()) %>

<% var authors = post.authors.split(",").map(_ => _.trim()) %>
<% var photographers = (post.photographers || "").split(",").map(_ => _.trim()) %>

<div class="app">

	<span class="breadcrum"><%- capitalize(post.issue || "Unknown Issue") %> &#187; <%- capitalize(tags[0]) %> &#187; <%- post.title %></span>

	<div class="hr"></div>
	
	<div class="section">
		
		<a href="#/section/<%- tags[0] %>"><h3 class="uppercase_text" style="margin-top: 25px;"><%- tags[0] %></h3></a>
		<h1 class="regular_text" style="margin-top: 15px; margin-bottom: 5px;"><%- post.title %></h1>
		<h1 class="sub regular_text"><%- post.subtitle || "" %></h1>

		<div class="authors">

			<div>

				<span>Writers</span>
				<div>

					<% for (const author of authors) { %>

						<span><%- author %></span>

					<% } %>

				</div>

			</div>

			<% if (photographers.length !== 0 && photographers[0]) { %>

				<div>

					<span>Photographers</span>
					<div>
	
						<% for (const photographer of photographers) { %>
	
							<span><%- photographer %></span>
	
						<% } %>
	
					</div>
	
				</div>

			<% } %>

		</div>
		
		<%- post.content %>

		<div class="hr"></div>

		<div class="authors_cards">

			<% for (const author of authors) { %>

				<% let _profile = await profile(author); %>

				<div>
					
					<img src="<%- _profile.image ? file(_profile.image) : default_image %>">

					<div>

						<span class="name"><%- author %></span>

						<p><%- _profile.description || "<i>No description available at this time</i>" %></p>

					</div>

				</div>

			<% } %>

		</div>

		<div class="hr"></div>

		<%- await render("include/comments.ejs", {post}) %>

	</div>

</div>

<%- await render("include/footer.ejs") %>

<% document.title = `Private Suite Magazine > ${post.title}`; %>
