<%- await render("include/menu.ejs") %>

<% var section = currentRoute().split("/")[2].toLowerCase() %>

<% var posts = await postsFromSection(section) %>

<%

	var issues = [];
	var issue_posts = {};

	for (const post of posts) {

		if (!post.issue) {

			if (issues.indexOf(0) === -1) issues.push(0);
			if (!issue_posts[0]) issue_posts[0] = [];

			issue_posts[0].push(post);

			continue;

		}

		var issue = parseInt(post.issue.toLowerCase().replace("issue", "").trim());

		if (issues.indexOf(issue) === -1) issues.push(issue);
		if (!issue_posts[issue]) issue_posts[issue] = [];

		issue_posts[issue].push(post);

	}

	issues = issues.sort((a, b) => a - b);

%>

<div class="app">

	<div class="section">

		<h1 class="regular_text"><%- capitalize(section) %></h1>

	</div>

	<!-- <div class="hr"></div> -->

	<% for (const issue of issues) { %>

		<div class="section">

			<h3 class="sub regular_text"><%= issue === 0 ? "Unknown Issue" : `Issue ${issue}` %></h3>
	
			<div class="posts">

				<% for (const post of issue_posts[issue]) { %>

					<div>

						<img src="<%- post.image ? file(post.image) : default_image %>" class="panel flexible">

						<div>
							
							<h2 class="dark"><%- post.title %></h2>
							<h3><%- post.subtitle %></h3>

							<p><%- trim(removeHTMLTags(post.content), 256) %></p>

							<a href="/post/<%- slugify(post.title) %>">READ NOW &raquo;</a>

						</div>			
	
					</div>
	
				<% } %>

			</div>

		</div>

	<% } %>

</div>

<%- await render("include/footer.ejs") %>
